@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

$primary-color: #727e86;
$danger-color: #dc3545;

@mixin btn-primary {
  color: $primary-color;
  border-color: $primary-color;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}
@mixin btn-danger {
  display: block;
  width: 100%;
  background-color: $danger-color;
  border-color: $danger-color;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  &:hover{
    background-color: #c82333;
    border-color: #bd2130;
  }
}
@mixin link {
    cursor: pointer;
    list-style-type: none;
    color: $primary-color;

    &.active {
        color: #ff0000;
    }

    &:hover {
        color: #0056b3;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

input, input:focus {
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
